/*
* START MOBILE MENU STYLES
*/
@media only screen and (max-width: 768px) {
  .is-mobile--menu {
    transform: translateX(-62%);
    background: black;
    height: 100%;
  }
  .main-navigation li {
    font-size: 0.65em;
  }
  .menu-main--container {
    justify-content: right;
  }
}
/*
* END MOBILE MENU STYLES
*/